.footer-address {
  margin-bottom: 21px;

  @include laptop {
    margin-bottom: 0px;
    width: 20%;
  }
}

.footer {
  a {
    transition-duration: $transition-duration;
    transition-property: color;

    &:hover,
    &:focus,
    &:active {
      color: $color-secondary;
      transition-duration: $transition-duration;
      transition-property: color;
    }
  }
}

.footer__col {
  @include laptop {
    display: flex;
    flex-direction: column;
  }
}

.footer__col a {
  color: $text-color;
  font-size: 14px;
  font-weight: $font-weight-bold;
  margin-bottom: 26px;
  text-decoration: none;

  @include laptop {
    font-size: 16px;
  }

  @include desktop {
    font-size: 20px;
  }
}
.footer__col:last-child {
  @include laptop {
    width: 31%;
    font-size: 22px;
  }
}
.footer__contacts .footer__title {
  margin-bottom: 14px;

  @include laptop {
    margin-bottom: 50px;
  }
}

.footer__contacts {
  margin-right: 0;

  @include laptop {
    width: 32%;
  }

  @include desktop {
    padding-top: 8px;
    margin-right: 0;
  }
}
.footer__contacts .footer__title {
  font-size: 16px;
  font-weight: 400;

  @include laptop {
    font-size: 16px;
  }
  @include desktop {
    font-size: 20px;
  }
}
.footer__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  padding: 60px 30px 40px;

  @include laptop {
    flex-direction: row;
    justify-content: space-between;
    padding: 70px;
    align-items: flex-start;
  }
  @include desktop {
    padding: 100px 140px;
  }
}

.footer-list li {
  color: $text-color;
  font-size: 14px;
  margin-bottom: 3px;
  @include laptop {
    font-size: 16px;
    margin-bottom: 6px;
  }

  @include desktop {
    font-size: 20px;
  }
}

.footer-list {
  text-align: center;
  @include laptop {
    text-align: left;
  }
}

.footer-list li a {
  color: $text-color;
}

.footer-logo {
  margin-bottom: 35px;
  @include laptop {
    margin-bottom: 28px;
  }
}

.footer-logo img {
  width: 180px;
  @include laptop {
    max-width: 136px;
  }
  @include desktop {
    max-width: 175px;
  }
}

.footer__text-wrap {
  display: none;

  @include laptop {
    display: flex;
    padding-top: 5px;
    justify-content: space-between;
    width: 37%;
    padding-top: 8px;
  }
}

.footer__title {
  text-align: center;

  @include laptop {
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 26px;
    text-align: left;
  }

  @include desktop {
    font-size: 22px;
  }
}

.footer__phone-number {
  display: flex;
  justify-content: center;
  font-weight: $font-weight-bold;
  color: $text-color;
  text-decoration: none;
  font-size: 20px;

  @include laptop {
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
  }

  @include desktop {
    font-size: 30px;
  }

  svg {
    width: 30px;
    height: 30px;
    margin-right: 12px;

    @include laptop {
      width: 59px;
      height: 59px;
      margin-right: 28px;
    }
  }
}
