.section-intro {
  width: 100%;
  padding: 0 30px;

  &--cover {
    h2 {
      line-height: 1.3;
    }

    h2,
    p {
      color: $color-white;
    }

    .section__container {
      position: relative;
      min-height: 740px;
      padding: 0 30px;
      background-position: 50% 100%;
      background-size: 200%;
      background-repeat: no-repeat !important;

      @include laptop {
        background-position: 50%;
        background-size: cover;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          180deg,
          rgba(0, 81, 103, 1) 0%,
          rgba(0, 81, 103, 1) 40%,
          transparent 100%
        );

        @include laptop {
          display: none;
        }
      }
    }

    .section__text {
      z-index: 1;
      display: flex;
      align-items: flex-start;
      padding-top: 100px;
      padding-bottom: 0;
      background: none;

      @include laptop {
        max-width: 740px;
        padding-top: 0;
        padding-left: 212px;
        align-items: center;
      }
    }
  }

  &--list {
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 60px 0;

    .section__image {
      align-items: flex-start;
    }

    .section__text {
      padding-top: 0;

      @include laptop {
        padding-top: 30px;
        padding-left: 0;
      }
    }

    .row > *:first-child {
      order: 1;

      @include laptop {
        order: inherit;
      }
    }

    ul {
      margin-bottom: 40px;
    }
  }

  &--blue {
    position: relative;
    max-width: 1920px;
    width: calc(100% - 60px);
    margin: 0 auto;
    background-color: $color-blue;

    @include laptop {
      background-position: right;
      background-color: $color-blue;
    }

    @include desktop {
      max-width: 100%;
    }

    .section__background {
      display: none;
      position: absolute;
      top: 0;
      left: auto;
      right: 0;
      height: 100%;
      opacity: 0.5;
      z-index: 1;

      @include laptop {
        display: block;
      }
    }

    .section__container {
      min-height: 0;
      background-color: $color-blue;
      position: relative;
      z-index: 3;

      @include laptop {
        background-color: rgba(0, 0, 0, 0);
      }

      @include desktop {
        height: auto;
      }
    }

    .section__text {
      background: rgba(0, 0, 0, 0);
      padding-top: 56px;
      padding-bottom: 55px;

      @include desktop {
        min-height: 0;
      }
    }

    h2.h2 {
      color: $color-white;

      @include laptop {
        font-size: 45px;
        line-height: 55px;
      }
    }

    p {
      color: $color-white;
      margin: 0 0 30px;

      @include laptop {
        margin: 0 0 45px;
      }
    }

    .section__button {
      display: inline-block;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      text-decoration: none;
      color: $color-white;
      border: none;
      border-radius: 10px;
      background-color: $color-dark-blue;
      transition: $transition-duration;
      padding: 16px 35px;

      @include laptop {
        &:hover {
          background-color: $color-blue-hover;
        }
      }
    }

    .section__decoration {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: auto;
      right: 27%;
      margin: auto 0;
      width: 275px;
      mix-blend-mode: luminosity;
      z-index: 2;

      @include laptop {
        display: block;
      }
    }
  }

  &--gradient {
    .section__text {
      position: relative;
      z-index: 2;
      padding-right: 40px;
      padding-left: 40px;
      padding-bottom: 60px;

      @include laptop {
        padding-top: 60px;
        padding-bottom: 60px;
      }

      @include desktop {
        max-width: 790px;
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 220px;
      }

      h2 {
        line-height: 32px;
        margin-bottom: 30px;

        @include desktop {
          margin-bottom: 45px;
          line-height: 55px;
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 70px;
        padding-top: 350px;
        background: linear-gradient(
          360deg,
          #f7f7f7 0%,
          #f7f7f7 10%,
          rgba(255, 255, 255, 0) 25%
        );

        @include laptop {
          top: 0;
          height: 100%;
          right: -230px;
          left: auto;
          height: 100%;
          z-index: -1;
          background: linear-gradient(
            90deg,
            rgba(247, 247, 247, 1) 50%,
            rgba(255, 255, 255, 0) 100%
          );
        }

        @include desktop {
          padding-top: 0;
        }
      }
    }
  }
}
