.section-header-blogs {
  padding-top: 80px;
  padding-right: 40px;
  padding-bottom: 180px;
  padding-left: 40px;
  width: calc(100% - 60px);
  margin-right: auto;
  margin-left: auto;

  @include laptop {
    padding-top: 160px;
    padding-right: 0;
    padding-left: 0;
  }
}

.section-blogs {
  margin-top: -143px;
  background-image: url(../images/wave-grey.svg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: auto;
  padding-bottom: 80px;

  @include laptop {
    background-size: auto;
    background-position: 50% 100%;
  }

  @include desktop {
    background-position: 50% 100%;
    background-repeat: repeat-x;
  }
}
