.navigation
  .navigation__background
    .swiper-container.js-slider-background
      .swiper-wrapper
        .swiper-slide
          img(src="images/main1.jpg" alt="main-background" width="1903" height="830")
        .swiper-slide
          img(src="images/main2.jpg" alt="main-background" width="1903" height="830")
        .swiper-slide
          img(src="images/main3.jpg" alt="main-background" width="1903" height="830")
        .swiper-slide
          img(src="images/main4.jpg" alt="main-background" width="1903" height="830")
        .swiper-slide
          img(src="images/main5.jpg" alt="main-background" width="1903" height="830")
