extends pug/base

prepend vars
  //-

append vars
  //-
  
block content
  .container
    a(href="home.html") Homepage
    br
    br
    a(href="private-donators.html") Particuliere donateurs
    br
    br
    a(href="business-market.html") Zakelijke markt
    br
    br
    a(href="online-fundraising.html") Online fondsenwerving
    br
    br
    a(href="about.html") Over Nexios
    br
    br
    a(href="contact.html") Contact
    br
    br
    a(href="blogs.html") Blogs
    br
    br
    a(href="blog-detail.html") Blog detail
    br
    br